<section class="container d-flex justify-content-center vh-100 align-items-center">
    <div class="card">
        <div class="card-header">
            SUCCESS  <i class="fa-solid fa-gift"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title">Account Created Successfully !!!!! <i class="fa-solid fa-champagne-glasses"></i></h5>
            <p class="card-text">Your account has been Successfully created.</p>
            <a href="/" class="btn btn-primary d-flex justify-content-center">Home</a>
        </div>
    </div>
</section>