<section class="container d-flex justify-content-center vh-100 align-items-center">
    <div class="card">
        <div class="card-header">
            SUCCESS
        </div>
        <div class="card-body">
            <h5 class="card-title">Account Created Successfully !!!!!</h5>
            <p class="card-text">Your account has been Successfully created.</p>
            <a href="/" class="btn btn-primary d-flex justify-content-center">Login</a>
        </div>
    </div>
</section>